<div #cardContainer class="card-container">
  <div *ngFor="let product of services" class="card">
    <img
      [src]="'assets/img/' + product.image"
      alt="{{ product.title }}"
      class="card-image"
    />
    <div class="card-body">
      <h3 class="card-title">{{ product.title }}</h3>
      <p class="card-price">
        {{ product.price | currency : product.currency }}
      </p>
      <button class="detail-button" [routerLink]="['/product', product.id]">
        Ver detalle
      </button>
    </div>
  </div>
</div>
